<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<script>
    $(document).ready(function () {
        $("#registro").hide();
        $("#botonAgregar").click(function () {
            $("#registro").show();
            $("#mapa").text("REGISTRAR CURSO");
            $("#tablaCurso").hide();
        });
    });
</script>
<head>
<link href="../default.css" rel="stylesheet" type="text/css" />
</head>
<div class='content-wrapper'>
    <div class='container-fluid'>
        <div id="page">
<div id="content">
<div class="feature bg7">
<h1 class="title"></h1>
<div class="content">
<p><img src="../images/artunsa.png" alt="" class="left" height="400" width="750" /> <br><br>
La Oficina de Arte y Cultura está encargada de programar, promover, organizar, supervisar los talleres extracurriculares artístico-deportivos en la Universidad Nacional de San Agustín.
</p>
<p>&nbsp;</p>
</div>
</div>
<div class="box" style="padding-left: 19px;" >
<h2 class="title bg4">Misiòn</h2>
<div class="content">
<br>
<p>La Oficina de Promoción de Arte, Cultura y Deporte y Recreación debe de ser una organización que garantice la participación de la ciudadanía, dando respuesta a las necesidades planteadas por la misma y ofertando actividades y servicios que mejoren de la calidad de vida del alumnado de la Universidad Nacional de San Agustín, al tiempo que se realzan sus valores, su identidad y su salud.</p>

</div>
</div>
<div class="box" style="padding-left: 19px;">
<h2 class="title bg5">Visiòn</h2>
<br>
<div class="content">
<p>La Oficina de Promoción de Arte, Cultura y Deporte y Recreación tiene como finalidad la plasmación y garantía de 2 principios generales: contribuir a la mejora de la calidad de vida y el bienestar del alumnado de la Universidad Nacional de San Agustín a través de la acción cultural y deportiva.Garantizar la transmisión del patrimonio cultural de las distintas realidades sociales que conviven/convivan en la universidad.</p>
</div>
</div>
            
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->


</div>    
